<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdleess.cyoowb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_apap_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WildWestTreasure"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.bdleess.cyoowb.GGG.STActivity"
            android:exported="false" />
        <activity
            android:name="com.bdleess.cyoowb.GGG.STGAA"
            android:exported="false" />
        <activity
            android:name="com.bdleess.cyoowb.GGG.GAA"
            android:exported="false" />

        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6749456029432976~3501278543" />

        <activity
            android:name="com.bdleess.cyoowb.BC2"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>